.text-efect {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 40px 42px;

    .title, .text {
        text-align: center;

        .link {
            color: #FFF;
        }
    }

    .title {
        font-size: 20px;
        text-transform: uppercase;
        text-decoration-skip-ink: initial;
    }
}

// DESKTOP
@media only screen and (min-width: 768px) {
    .about {
        .title {
            font-size: 30px;
        }
        .text {
            .link {
                transition: all ease .3s;

                &:hover {
                    transform: scale(1.06);
                }
            }
        }
    }
}
